<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <div class="input-group rounded sear">
            <input type="search" class="rounded roun" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button mat-button class="menu-button" style="position: absolute;">

            <mat-icon class="searchIcon" (click)="clickSearch()">
                search
            </mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
                    <mat-icon>person</mat-icon>
                    <span style="margin-left: 20px;">Profile</span>
                    <mat-icon style="margin-left: 275px;" (click)="clickMessage()">message</mat-icon>
                    <mat-icon (click)="clickCall()">call</mat-icon>
                  </button>
    </mat-sidenav>

</mat-sidenav-container>