mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 500px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container {
    height: 565px;
    min-height: 565px;
    max-height: 600px;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    mat-icon {
        margin-right: 8px;
    }
    color: white;
    background-color:#002b5c;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.searchIcon {
    position: absolute;
    width: 95%;
    color: white;
    background-color: transparent;
    text-align-last: right;
    font-size: 45px;
}

.msg {
    position: absolute;
    width: 95%;
    font-size: 45px;
}

.roun {
    width: 85%;
    height: 90%;
    text-align: center;
}

.sear {
    height: 50px;
}